#social-buttons img { 
	height: 50px;
	float:right;
}

#social-buttons li {
	
	list-style-type: none;

}


.title {
	text-align: center;
}


#ul {

	list-style-type: none;
}

li {
	display: inline;
    padding:10px; 
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}


.nav {
    font-size: 30px;
    text-align: center;
    display: inline;
}

.col-sm-4 .src {
height:50px;
    width:100px;

}


