#social-buttons img { 
    height: 50px;
    float:right;
}

#social-buttons li {
    
    list-style-type: none;
    display: inline;

}


.title {
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    color: #584f5a;
    padding-left: 60px;
}


#menu ul {

    list-style-type: none;
}

.menu li {
  display: inline;
    background-color: #716973;
    color:white;
    padding:5px;
    padding-left: 15px;
    padding-right:15px;

  }

.nav {
    font-size: 30px;
    text-align: center;
    display: inline;
}

.col-sm-4 .src {
height:50px;
    width:100px;

}


<!-- CSS styles for standard search box -->
<style type="text/css">
  #tfheader{
    background-color:#c3dfef;
  }
  #tfnewsearch{
    float:right;
    padding:20px;
  }
  .tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #9e98a0; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
  }
  .tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #9e98a0; border-right:0px;
    background: #9e98a0;
    background: -webkit-gradient(linear, left top, left bottom, from(##9e98a0), to(##9e98a0));
    background: -moz-linear-gradient(top,  ##9e98a0,  ##9e98a0);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }
  .tfbutton:hover {
    text-decoration: none;
    background: ##9e98a0;
    background: -webkit-gradient(linear, left top, left bottom, from(##9e98a0), to(##9e98a0));
    background: -moz-linear-gradient(top,  ##9e98a0,  ##9e98a0);
  }
  /* Fixes submit button height problem in Firefox */
  .tfbutton::-moz-focus-inner {
    border: 0;
  }
  .tfclear{
    clear:both;

}

a{
    color:white;
    font-family: 'Amaranth', sans-serif;
    padding:10px;
}

#artistname {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  color: #FFAAAA;
  background-color: gray;
  padding: 1px;
  margin-top: 10px;
}



#founderpic {
  
  margin-left: 20px;
  margin-bottom: 50px;
  padding-top: 0px;
}

#artistsocial {
margin-top: 50px;
  

}

#artistabout {
margin-top: 10px;
  color:black;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;


}

.btn-twit {
  background-color: #4099FF;
  border-radius: 15px;
  height: 80px;
  width: 200px;
  font-weight: bold;

  
}

.btn-insta {
  background-color: brown;
  border-radius: 15px;
  height: 80px;
  width: 200px;
  font-weight: bold;
}

.btn-pin {
  background-color: #b62f26;
  border-radius: 15px;
  height: 80px;
  width: 200px;
  font-weight: bold;
  
}

.btn-web {
  background-color: #b62f26;
  border-radius: 15px;
  height: 80px;
  width: 200px;
  font-weight: bold;
}


  
#featured {
  text-align: center;
  color: white;
  background-color: gray;
  padding: 1px;
  margin-top: 10px;
}

.paintings {

  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.social1 img {

  height: 50px;
  margin-top: 20px;
}

.quotes li {
  margin-top: 45px;
  margin-right: 20px;
  font-weight: bold;
  

}

.quotes ul {

  list-style-type: none;

}

.social1 ul {

  list-style-type: none;

}


<!-- CSS styles for standard search box -->
<style type="text/css">
  #tfheader{
    background-color:#c3dfef;
  }
  #tfnewsearch{
    float:right;
    padding:20px;
  }
  .tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #9e98a0; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
  }
  .tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #9e98a0; border-right:0px;
    background: #9e98a0;
    background: -webkit-gradient(linear, left top, left bottom, from(##9e98a0), to(##9e98a0));
    background: -moz-linear-gradient(top,  ##9e98a0,  ##9e98a0);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }
  .tfbutton:hover {
    text-decoration: none;
    background: ##9e98a0;
    background: -webkit-gradient(linear, left top, left bottom, from(##9e98a0), to(##9e98a0));
    background: -moz-linear-gradient(top,  ##9e98a0,  ##9e98a0);
  }
  /* Fixes submit button height problem in Firefox */
  .tfbutton::-moz-focus-inner {
    border: 0;
  }
  .tfclear{
    clear:both;

}

a{
  color:white;
  font-family: 'Amaranth', sans-serif;
  padding:10px;
}

 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}


h2 {
padding-top: 30px;
padding-left: 40px;
font-family: 'Amaranth', sans-serif;

}

#founderpic
{
padding-top: 80px;

}

.btn-default {
color: #d17581;
background: #716973;

}


#review 
{
 display:inline-block;
 margin-left: 240px;

}

.star
{
height: auto;
width: 100px;
}
