#social-buttons button { 
color: white;
float:right;
margin-top: 10px;
}

.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}


.btn-facebook {
	background-color: #4868ac;
	border-color: #314776
}

.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26
}


.title {
	text-align: center;
}


#ul {

	list-style-type: none;
}

li {
	display: inline;
    padding:10px; 
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}


.nav {
    font-size: 30px;
    text-align: center;
    display: inline;
}

.col-sm-4 .src {
height:50px;
    width:100px;

}

#artistname {
	text-align: center;
	color: white;
	background-color: gray;
	padding: 1px;
	margin-top: 10px;
}

#artistpic {
	margin-top: 50px;
}

#artistsocial {
margin-top: 50px;
	

}

#artistabout {
margin-top: 40px;
}

.btn-twit {
	background-color: #006;

	
}

.btn-insta {
	background-color: brown;
	
}

.btn-pin {
	background-color: #b62f26;
	border-color: #b62f26
	
}

.btn-web {
	background-color: #b62f26;
	border-color: #b62f26
	
}

.social li {

margin-top: 15em;

}

.social ul {

list-style-type: none;
padding: 0;
margin: 0;
text-align: right;
width: 10em;

}
	
#featured {
	text-align: center;
	color: white;
	background-color: gray;
	padding: 1px;
	margin-top: 10px;
}

.paintings {

	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
}


