#social-buttons img { 
	height: 50px;
	float:right;
}

#social-buttons li {
	
	list-style-type: none;

}

.title {
	text-align: center;
}


#menu ul {

	list-style-type: none;
}

.menu li {
	display: inline;
    padding:10px; 
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}


.nav {
    font-size: 30px;
    text-align: center;
    display: inline;
}

.col-sm-4 .src {
height:50px;
    width:100px;

}

#artistname {
	text-align: center;
	color: white;
	background-color: gray;
	padding: 1px;
	margin-top: 10px;
}

#artistpic {
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 50px;
}

#artistsocial {
margin-top: 50px;
	

}

#artistabout {
margin-top: 40px;

}

.btn-twit {
	background-color: #4099FF;
	border-radius: 15px;
	height: 80px;
	width: 200px;
	font-weight: bold;

	
}

.btn-insta {
	background-color: brown;
	border-radius: 15px;
	height: 80px;
	width: 200px;
	font-weight: bold;
}

.btn-pin {
	background-color: #b62f26;
	border-radius: 15px;
	height: 80px;
	width: 200px;
	font-weight: bold;
	
}

.btn-web {
	background-color: #b62f26;
	border-radius: 15px;
	height: 80px;
	width: 200px;
	font-weight: bold;
}


	
#featured {
	text-align: center;
	color: white;
	background-color: gray;
	padding: 1px;
	margin-top: 10px;
}

.paintings {

	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.social1 img {

	height: 50px;
	margin-top: 20px;
}

.social2 li {
	margin-top: 45px;
	margin-right: 20px;
	font-weight: bold;

}

.social2 ul {

	list-style-type: none;

}

.social1 ul {

	list-style-type: none;

}

