#social-buttons button { 
color: white;
float:right;
}

.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}


.btn-facebook {
	background-color: #4868ac;
	border-color: #314776
}

.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26
}



.title {
	text-align: center;
}


#ul {

	list-style-type: none;
}

li {
	display: inline;
    padding:10px; 
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

img {
	position: absolute;
}

.nav {
    font-size: 30px;
    text-align: center;
    display: inline;
}

.col-sm-4 .src {
	height:50px;
    width:100px;
}

.lead {
	text-align: center;
}

